<div class="user-new-edit">
<% if @user.errors.present? %>
    <span style="color:red;">
        <h3>エラーがあります。</h3>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </span>
<% end %>

<%= form_for @user, url: {action: :update} do |f| %>
  <p><%= f.label :uid, 'ID' %>
  <%= f.text_field :uid %></p>
  <p><%= f.label :password, 'パスワード' %>
  <%= f.password_field :password %></p>
  <p><%= f.label :password_confirmation, 'パスワード（確認）' %>
  <%= f.password_field :password_confirmation %></p>
  <p class="btn">
      <%= f.submit '更新',class: 'submit'%>
      <%= link_to '戻る', user_path(current_user.id) , {class: "back-link"}%>
  </p>
<% end %>
</div>