<h3>ユーザー名：<strong class="myuser-uid"><%= @user.uid %></strong></h3><br>

<div>
<%= link_to edit_user_path(@user) , {class: "myuser-link"} do%>
  <i class="fas fa-user-edit">　ユーザ編集</i>
<% end %>
<%= link_to user_path(@user), method: :delete, data: {confirm: "削除しますか？"} ,class: "myuser-link" do%>
<i class="fas fa-user-minus">　ユーザ削除</i>
<% end %>
</div>


<div class="myuser">
<p><%= @user.uid %> さんの投稿</p>
<table border="1">
            <tr>
              <th>県</th>
              <th>市</th>
              <th>区町村</th>
              <th>投稿</th>
              <th>評価カテゴリー</th>
              <th><%= sort_link(@q, :star, '総合評価(1 ~ 5)', default_order: :desc) %></th>
              <th>詳細</th>
              <th>ボタン</th>
            </tr>
            <% @reviews.each do |e| %>
            <% if e.user_id == current_user.id %>
            <tr>
                <td><%= e.prefecture %></td>
                <td><%= e.address %></td>
                <td><%= e.district %></td>
                <td><%= e.tdate.strftime("%Y/%m/%d") %></td>
                <td><%= e.category %></td>
                <td>
                <div class="star">
                  <% if e.star? %>
                    <% for i in 1..e.star do %>
                      ★
                    <% end %>
                  <% end %>
                </div></td>
                <td><%= e.description %></td>
                <td><%= link_to '表示', review_path(e), class: "review-btn-link" %>
                    <%= link_to '編集', edit_review_path(e), class: "review-btn-link" %>
                    <%= link_to '削除', review_path(e), method: :delete, data: {confirm: "削除しますか？"}, class: "review-btn-link" %>
                </td>
            </tr>
        <% end %>
    <% end %>
</table>
</div>