<br>
ユーザー名：<%= @user.uid %><br>
<br>
<%= link_to "ユーザ編集", edit_user_path(@user) %>
<br><br><br>
<%= @user.uid %> さんの投稿
<table border="1">
    <% @reviews.each do |e| %>
        <% if e.user_id == current_user.id %>
            <tr>
              <th>県</th>
              <th>市</th>
              <th>区町村</th>
              <th>投稿</th>
              <th>評価カテゴリー</th>
              <th><%= sort_link(@q, :star, '総合評価(1 ~ 5)', default_order: :desc) %></th>
              <th>詳細</th>
              <th>ボタン</th>
            </tr>
            <tr>
                <td><%= e.prefecture %></td>
                <td><%= e.city %></td>
                <td><%= e.district %></td>
                <td><%= e.tdate.strftime("%Y/%m/%d") %></td>
                <td><%= e.category %></td>
                <td>
                <div class="star">
                  <% if e.star? %>
                    <% for i in 1..e.star do %>
                      ★
                    <% end %>
                  <% end %>
                </div></td>
                <td><%= e.description %></td>
                <td><%= link_to '表示',review_path(e) %>
                    <%= link_to '編集', edit_review_path(e) %>
                    <%= link_to '削除', review_path(e), method: :delete %>
                </td>
            </tr>
        <% end %>
    <% end %>
</table>
 