<div class="review-new-edit">
    <% if @review.errors.present? %>
        <span style="color:red;">
            <h3>エラーがあります。</h3>
            <ul>
            <% @review.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </span>
    <% end %>
    
    <%= form_for @review, url: {action: :update} do |f| %>
      <p><%= f.label :prefecture, '県' %><strong class="need">※</strong>
      <%= f.text_field :prefecture %></p>
      <p><%= f.label :address, '市' %><strong class="need">※</strong>
      <%= f.text_field :address %></p>
      <p><%= f.label :district, '区町村' %><strong class="need">※</strong> 
      <%= f.text_field :district %></p> 
      <p><%= f.label :category, '評価カテゴリー' %><strong class="need">※</strong>
      <%= f.select(:category,  [['交通のアクセスが良い','交通のアクセスが良い'], ['ごみが少ない','ごみが少ない'], ['娯楽施設が多い','娯楽施設が多い'],['医療施設が多い','医療施設が多い'], ['子どもが多い','子どもが多い'], ['騒音が目立つ','騒音が目立つ'], ['夜道が暗い','夜道が暗い'],['災害が多い','災害が多い'], ['犯罪が多い','犯罪が多い'], ['その他（詳細へ記入）','その他（詳細へ記入）']],{} , {class: 'select'}) %></p>
      <%= f.label :star, '総合評価(1 ~ 5)' %><strong class="need">※</strong>
      <div class="star-field">
        <input id="star5" type="radio" name="review[star]" value="5" />
        <label for="star5">★</label>
        <input id="star4" type="radio" name="review[star]" value="4" />
        <label for="star4">★</label>
        <input id="star3" type="radio" name="review[star]" value="3" />
        <label for="star3">★</label>
        <input id="star2" type="radio" name="review[star]" value="2" />
        <label for="star2">★</label>
        <input id="star1" type="radio" name="review[star]" value="1" />
        <label for="star1">★</label>
      </div>
      <p><%= f.label :description, '詳細' %><br>
      <%= f.text_area :description %></p>
      <p class="btn">
          <%= f.submit '更新する' ,class: 'submit'%>
          <%= link_to '戻る', :back , {class: "back-link"}%>
      </p>
    <% end %>
</div>