
<% if current_user %>
  <%= link_to "レビューする", new_review_path , {class: "review-link"}%><br>
<% end %> 

  <div class="review">
  
  <%= search_form_for @q do |f| %>
    <%= f.label :prefecture, "県検索" %>
    <%= f.search_field :prefecture_cont %>
    <%= f.label :city, "市検索" %>
    <%= f.search_field :city_cont %>
    <%= f.label :district, "区町村検索" %>
    <%= f.search_field :district_cont %>
      <%= f.button :type => "submit", style: 'border-style: none;' do %>
        <i class='fa fa-search'>検索</i>
      <% end %>
  <% end %>
  <br>
  <%= search_form_for @q do |f| %>
  　 <%= f.label :category, "評価カテゴリー検索" %>
  　<%= f.select(:category_eq,  [['交通のアクセスが良い','交通のアクセスが良い'], ['ごみが少ない','ごみが少ない'], ['娯楽施設が多い','娯楽施設が多い'],['医療施設が多い','医療施設が多い'], ['子どもが多い','子どもが多い'], ['騒音が目立つ','騒音が目立つ'], ['夜道が暗い','夜道が暗い'],['災害が多い','災害が多い'], ['犯罪が多い','犯罪が多い']]) %>
  　   <%= f.button :type => "submit", style: 'border-style: none;' do %>
        <i class='fa fa-search'>検索</i>
      <% end %>
  <% end %>
  <br>
      <table border="1">
        <tr>
          <th>県</th>
          <th>市</th>
          <th>区町村</th>
          <th>投稿日</th>
          <th>評価カテゴリー</th>
          <th><%= sort_link(@q, :star, '総合評価(1 ~ 5)', default_order: :desc) %></th>
          <th>詳細</th>
          <th>ボタン</th>
        </tr>
        <% @reviews.each do |e| %>
        <tr>
            <td><%= e.prefecture %></td>
            <td><%= e.city %></td>
            <td><%= e.district %></td>
            <td><%= e.tdate.strftime("%Y/%m/%d") %></td>
            <td><%= e.category %></td>
            <td>
            <div class="star">
              <% if e.star? %>
                <% for i in 1..e.star do %>
                  ★
                <% end %>
              <% end %>
            </div></td>
            <td><%= e.description %></td>
            <td><%= link_to '表示',review_path(e) %>
            <% if e.user_id == current_user.id %>
                <%= link_to '編集', edit_review_path(e) %>
                <%= link_to '削除', review_path(e), method: :delete %>
            <% end %></td>
        <% end %>
        </tr>
      </table>
</div>