<% if @review.errors.present? %>
    <span style="color:red;">
        <h3>エラーがあります。</h3>
        <ul>
        <% @review.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </span>
<% end %>

<%= form_for @review, url: {action: :create} do |f| %>
  <p><%= f.label :prefecture, '県' %> 
  <%= f.text_field :prefecture %></p>
  <p><%= f.label :city, '市' %> 
  <%= f.text_field :city %></p>
  <p><%= f.label :district, '区町村' %> 
  <%= f.text_field :district %></p> 
  <p><%= f.label :category, '評価カテゴリー' %>
  <%= f.select(:category,  [['交通のアクセスが良い','交通のアクセスが良い'], ['ごみが少ない','ごみが少ない'], ['娯楽施設が多い','娯楽施設が多い'], ['子どもが多い','子どもが多い'], ['騒音が目立つ','騒音が目立つ'], ['夜道が暗い','夜道が暗い'], ['犯罪が多い','犯罪が多い'], ['その他（詳細へ記入）','その他（詳細へ記入）']]) %></p>
  <p><%= f.label :star, '総合評価(1 ~ 5)' %> 
  <%= f.number_field :star %></p>
  <p><%= f.label :description, '詳細' %>
  <%= f.text_field :description %></p>
  <p><%= f.submit 'レビューする' %></p>
<% end %>