<!DOCTYPE html>
<html>
  <head>
    <title>CS3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2 class="title">隣人レビュー</h2>
    <p>説明</p>
    <%= yield %>
  </body>
</html>
