<!DOCTYPE html>
<html>
  <head>
    <title>city review</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <h2 class="title">City　Review</h2>
    <div class="explanation">
    　<div class="box1">
    　　<p>
私たちは引っ越し先を探すとき不動産屋で立地や日当たり、間取りなどの情報を得ることができる。<br>
しかし、その地域で暮らしたときの雰囲気をか知ることは難しい。<br>
ここでは、そのような暮らしの情報を共有することで、<br>
引っ越す前に詳細を知ることができます。<br>
</p>
      </div>
      <div class="box2">
  <%= image_tag 'city02.png', class: 'image' %>
        </div>
    　</div>
    </header>
    
    
      <nav>
      <% if current_user %>
        <%= link_to "レビュー一覧", reviews_path , {class: "nav-link"}%>&nbsp;&nbsp;
        <%= link_to "ユーザー一覧", users_path , {class: "nav-link"}%>&nbsp;&nbsp;
        <%= link_to "マイページ", user_path(current_user.id) , {class: "nav-link"}%>&nbsp;&nbsp;
        <%= link_to "ログアウト", top_logout_path, method: :delete, class: "nav-link" %><br>
      <% end %>
      </nav>
    <main class="main"> 
    <%= yield %>
    </main>
    
  </body>
</html>
