<!DOCTYPE html>
<html>
  <head>
    <title>city review</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2 class="title">city review</h2>
    <p>説明</p>
    <% if current_user %>
      <%= link_to "レビュー一覧", reviews_path %>&nbsp;&nbsp;
      <%= link_to "ユーザー一覧", users_path %>&nbsp;&nbsp;
      <%= link_to "マイページ", user_path(current_user.id) %>&nbsp;&nbsp;
      <%= link_to "ログアウト", top_logout_path, method: :delete %><br>
    <% end %>
    <br>
    --------------------------------------------------------------<br>
    <%= yield %>
  </body>
</html>
