<!DOCTYPE html>
<html>
  <head>
    <title>CS3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2 class="title">隣人レビュー</h2>
    <p>説明</p>
    <% if current_user %>
      <%= link_to "ユーザー一覧", users_path %>&nbsp;&nbsp;
      <%= link_to "ログアウト", top_logout_path, method: :delete %><br>
    <% else %>
      <%= link_to "新規登録", new_user_path %>&nbsp;&nbsp;
      <%= link_to "ログイン", top_main_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
