<!DOCTYPE html>
<html>
  <head>
    <title>city review</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="explanation">
    <h2 class="title">city<br>review</h2>
    　<div class="box1">
    　　<p>説明<br>
  ああああああああああああああああああああああああああああああああああああああああああああああああああ<br>
  ああああああああああああああああああああああああああああああ<br>
  ああああああああああああああああああああああ</p>
    　</div>
    </header>
    
    <main>
      <nav>
      <% if current_user %>
        <%= link_to "レビュー一覧", reviews_path , {class: "nav-link"}%>&nbsp;&nbsp;
        <%= link_to "ユーザー一覧", users_path , {class: "nav-link"}%>&nbsp;&nbsp;
        <%= link_to "マイページ", user_path(current_user.id) , {class: "nav-link"}%>&nbsp;&nbsp;
        <%= link_to "ログアウト", top_logout_path, method: :delete, class: "nav-link" %><br>
      <% end %>
      </nav>
    <%= yield %>
    </main>
    
  </body>
</html>
